<div class='columns is-mobile is-multiline full-height p-l-sm p-r-sm'>
  <div class='column is-6-tablet is-12-mobile is-offset-one-quarter-tablet'>
    <p class="title">Encuesta</p>
    <div class='box hero is-light'>
      <div class='field'>
        <label class='label'>Nombre</label>
        <div class='control'>
          <input [(ngModel)]="survey.name" class='input is-rounded is-warning' type="text" placeholder="Nombre de la encuesta">
        </div>
      </div>
      <div class='field'>
        <label class='label'>Descripción</label>
        <div class='control'>
          <textarea class="textarea has-fixed-size is-warning" [(ngModel)]="survey.description" type="text" placeholder="Descripción de la encuesta"></textarea>
        </div>
      </div>
    </div>
    
    <div [formGroup]="formNewQuestion" class="box hero is-light">
      <p class="is-size-5 has-text-weight-bold has-text-centered">Nueva pregunta</p>
      <div class='field'>
        <label class='label'>Tipo de pregunta</label>
        <div class='control is-expanded'>
          <div class='select is-fullwidth is-rounded is-warning'>
            <select formControlName="type" (change)="checkChoosen()">
              <option value="text">Texto</option>
              <option value="select">Opción múltiple</option>
              <option value="textarea">Textarea</option>
              <option value="radio">Radio</option>
              <option value="checkbox">Checkbox</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class='field'>
        <label class='label'>Pregunta</label>
        <div class='control'>
          <input formControlName="title" class='input is-rounded is-warning' type="text" placeholder="Escribe la pregunta">
        </div>
      </div>

      <ng-template [ngIf]="isMultiple">
        <label class='label'>
          Opciones
          <a class='button is-warning is-rounded is-pulled-right' (click)='addOption()'>
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </label>
        <div class='field' *ngFor='let op of options'>
          <div class='control'>
            <input [(ngModel)]="op.value" [ngModelOptions]="{standalone: true}" class='input is-rounded is-warning' type="text" (keyup.enter)="addOption()">
          </div>
        </div>
      </ng-template>
  
      <button *ngIf='!isEdit' class="button is-warning" (click)='addQuestion()'>Añadir</button>
      <button *ngIf='isEdit' class="button is-warning" (click)='editQuestion()'>Modificar</button>
    </div>
  </div>
  
  <div class='column is-6-tablet is-12-mobile is-offset-one-quarter-tablet'>
    <form class='form'>
      <ng-container *ngFor='let question of survey.questions'>
        
        <div *ngIf="question.type === 'text'" class="field">
          <label class="label is-size-5">
            {{question.title}}
            <a class='button is-warning is-rounded is-pulled-right' (click)='deleteQuestion(question)'>
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <a class='button is-warning is-rounded is-pulled-right' (click)='setEditQuestion(question)'>
              <span class="icon is-small">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
          </label>
          <div class="control">
            <input [ngClass]="['input',question.type]" type="text" placeholder="{{question.placeholder}}">
          </div>
        </div>

        <div *ngIf="question.type === 'textarea'" class="field">
          <label class="label is-size-5">
            {{question.title}}
            <a class='button is-warning is-rounded is-pulled-right' (click)='deleteQuestion(question)'>
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <a class='button is-warning is-rounded is-pulled-right' (click)='setEditQuestion(question)'>
              <span class="icon is-small">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
          </label>
          <div class="control">
            <textarea class="textarea has-fixed-size" type="text" placeholder="{{question.placeholder}}"></textarea>
          </div>
        </div>

        <div *ngIf="question.type === 'select' || question.type === 'radio' || question.type === 'checkbox'" class="field">
          <label class="label is-size-5">
            {{question.title}}
            <a class='button is-warning is-rounded is-pulled-right' (click)='deleteQuestion(question)'>
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
            </a>
            <a class='button is-warning is-rounded is-pulled-right' (click)='setEditQuestion(question)'>
              <span class="icon is-small">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
          </label>
          <div class="control is-expanded">
            <div *ngIf="question.type === 'select'" class="question.type">
              <div class='select is-fullwidth is-rounded'>
                <select>
                  <option *ngFor='let option of question.options'>{{option.value}}</option>
                </select>
              </div>
            </div>
            <ng-template [ngIf]="question.type != 'select'">
              <ng-container *ngFor='let op of question.options'>
                <label [ngClass]="['is-size-5',question.type]">
                  <input [type]="question.type" class='is-small'> {{op.value}}
                </label>
                <br>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>

<div class="float-bottom">
  <button *ngIf='surveyId == null && survey.draft==null' class='button is-warning m-b-sm is-rounded' (click)='saveSurvey(false)'>
    <span class='icon'>
      <i class="far fa-paper-plane"></i>
    </span>
    <span>Publicar</span>
  </button>

  <button *ngIf='(surveyId != null) && survey.draft == true' class='button is-warning m-b-sm is-rounded' (click)='saveSurvey(false)'>
    <span class='icon'>
      <i class="far fa-paper-plane"></i>
    </span>
    <span>Publicar</span>
  </button>

  <button *ngIf='surveyId == null && survey.draft==null' class='button is-light m-b-sm is-rounded' (click)='saveSurvey(true)'>
    <span class='icon'>
      <i class="far fa-save"></i>
    </span>
    <span>Guardar</span>
  </button>

  <button *ngIf='(surveyId != null) && survey.draft' class='button is-light m-b-sm is-rounded' (click)='editSurvey(true)'>
    <span class='icon'>
      <i class="far fa-save"></i>
    </span>
    <span>Guardar</span>
  </button>

  <button *ngIf='surveyId == null' class='button is-danger m-b-sm is-rounded' (click)='deleteSurvey()'>
    <span class='icon'>
      <i class="far fa-trash-alt"></i>
    </span>
    <span>Descartar</span>
  </button>
</div>