<nav class="navbar is-transparent is-black m-b-sm">
  <div class="navbar-brand">
    <div class='navbar-item is-unselectable' routerLink=''>
      <span class='icon is-medium'>
        <i class="fas fa-fish fa-1x"></i>
      </span>
      <span class='title is-size-6 has-text-white'>
        Survey Generator
      </span>
    </div>
    <div class="navbar-burger burger" data-target="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink='/editable-surveys'>
        Borradores
      </a>
      <a class="navbar-item" routerLink='/published-surveys'>
        Publicadas
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-warning is-rounded is-outlined" routerLink=''>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Nueva encuesta</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
