<div class='columns is-multiline is-mobile p-l-sm p-r-sm'>
  <div class='column is-12'>
    <section class="hero is-medium is-warning is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Encuestas
          </h1>
          <h2 class="subtitle">
            Publicadas
            <a (click)='getSurveys()'>Recargar</a>
          </h2>
        </div>
      </div>
    </section>
  </div>
  <ng-container *ngFor='let survey of surveys'>
    <ng-template [ngIf]='!survey.draft'>
      <div class='column is-3'>
        <section class="hero is-dark is-bold is-round">
          <p (click)='deleteSurvey(survey.id)'>
            <a class='button is-dark has-text-warning is-rounded is-pulled-right'>
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
            </a>
          </p>
          <div class="hero-body" [routerLink]="'/survey-generator/'+survey.id">
            <div class="container">
              <h1 class="title has-text-warning">
                {{survey.name}}
              </h1>
              <h2 class="subtitle has-text-white-ter">
                {{survey.description}}
              </h2>
            </div>
          </div>
        </section>
      </div>
    </ng-template>
  </ng-container>
</div>